@import './variables.scss';

/* ----MIXINS ----- */
@mixin dots {
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  border: 1.8px solid black;
  border-style: outset;
}
@mixin pinkblue {
  width: 5em;
  height: 1em;
  border-radius: 10px;
  border: 2px solid darkgray;
  border-style: outset;
  outline: none;
  box-shadow: 2px 2px;
}
@mixin upDown {
  height: 2em;
  width: 1.5em;
  background-color: rgb(41, 42, 37);
  margin: auto;
  border-style: solid;
  border-width: 0 3px 0 0;

}
@mixin leftRight {
  height: 1.5em;
  width: 2em;
  background-color: rgb(41, 42, 37);
}

/* ----MIXINS ----- */
* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  h1 {
    color: $primary-color;
    font-size: 55px;
  }
  .poke-input {
    margin-top: 2em;
    height: 30px;
    width: 16em;
    border-radius: 4px;
    outline: none;
  }
  .search-btn {
    margin-top: 1em;
    width: 7em;
    height: 2em;
    font-size: 17px;
    background-color: lightblue;
    border-radius: 10px;
    font-weight: bold;
  }
}
.pokemon-info-container {
  img {
    height: 200px;
    width: 200px;
  }
  p {
    font-size: 20px;
  }
}

.pokedex-container {
  background-color: red;
  height: 40em;
  width: 25em;
  margin: auto;
  margin-top: 2em;
  border: 4px solid gray;
  border-style: outset;
  border-radius: 20px;
  .top-buttons {
    // border: 2px solid green;
    height: 7em;
    width: 100%;
    display: flex;

    .lightup-blue {
      height: 4em;
      width: 4em;
      background-color: blue;
      border-radius: 50%;
      border: 6px solid white;
      margin: 1em 2em;
      border-style: outset;
      box-shadow: -3px 3px darkgray;
      background: radial-gradient(circle at 20px 20px, white, blue);



    }
    .three-dots {
      // border: 2px dotted pink;
      margin-top: 1em;
      height: 2em;
      width: 20%;
      display: flex;
      justify-content: space-between;
      div:nth-child(1) {
        @include dots;
        background-color: darkred;
      }
      div:nth-child(2) {
        @include dots;
        background-color: yellow;
      }
      div:nth-child(3) {
        @include dots;
        background-color: green;
      }
    }
  }
}
.image-container {
  height: 19em;
  // border: 3px dotted white;
  .gray-container {
    background-color: lightgray;
    height: 100%;
    width: 80%;
    margin: auto;
    border: 4px solid gray;
    border-style: outset;
    border-radius: 10px 10px 10px 60px;

    .two-dot-container {
      height: 1em;
      margin-bottom: 1em;
      display: flex;
      justify-content: center;
      div {
        height: 1em;
        width: 1em;
        background-color: darkred;
        border-radius: 50%;
        margin: .5em;
      }
    }
    .poke-image {
      height: 70%;
      width: 80%;
      background-color: black;
      margin: auto;
      img {
        height: 100%;
        width: 100%;
        background-color: white;
        z-index: 2;
      }
    }
    .under-poke-image {
      height: 3em;

      width: 80%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .red-dot {
        height: 1.5em;
        width: 1.5em;
        border-radius: 50%;
        background-color: red;
        border: 1px solid black;
      }
    }
  }
}
.lines-container {
  height:2em;
  width: 2.5em;
  display: flex;
  flex-direction: column;
  div {
    height: 15px;
    width: 100%;
    border-bottom: 2px solid gray;
  }
}
.controls-container {
  margin-top: 1.5em;
  // border: 2px solid green;
  height: 10em;
  display: flex;
  .enter-btn {
    // border: 1px solid white;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      height: 3em;
      width: 3em;
      background-color: rgb(41, 42, 37);
      border: 3px solid darkgray;
      border-style: outset;
      border-radius: 50%;
    }
  }
  .middle-btns {
    // border: 1px dotted blue;
    width: 50%;
    .blue-pink-btns {
      // border: 2px dotted white;
      margin-top: .5em;
      display: flex;
      justify-content: space-around;
      button:first-child {
        @include pinkblue;
        background-color: orange;
      }
      button:nth-child(2) {
        @include pinkblue;
        background-color: blue;
      }
    }
    .green-screen {
      width: 80%;
      margin: auto;
      margin-top: 2em;
      height: 5em;
      background-color: rgb(83, 154, 68);
      border: 5px solid darkgrey;
      border-style: inset;
    }
  }
  .control-pad {
    // border: 1px solid white;
    justify-content: center;
    width: 30%;
    display: flex;
    flex-direction: column;

    .lbr {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .up {
      @include upDown;
      border-radius: 8px 8px 0 0;
    }
    .right {
      @include leftRight;
      border-radius: 0 8px 8px 0;
      border-width: 0 2px 0 0;
    }
    .down {
      @include upDown;
      border-radius: 0 0 8px 8px;
    }
    .left {
      @include leftRight;
      border-radius: 8px 0 0 8px;
    }
    .base {
      height: 1.5em;
      width: 2em;
      background-color: rgb(41, 42, 37);
      .base-circle {
        height: 1em;
        width: 1em;
        background-color: rgb(46, 48, 44);
        border: 2px solid gray;
        border-style: inset;
        border-radius: 50%;
        margin: auto;
        margin-top: .2em;
      }
    }
  }
}
