/* ------- VARIABLES -------- */
$primary-color: red;
$secondary-color: #61dafb;
$control-pad-color: rgb(41, 42, 37);
/* ------- VARIABLES -------- */
/* ----MIXINS ----- */
@mixin dots {
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  border: 2.5px solid gray;
  border-style: outset;
  box-shadow: 1px 1px;
}
@mixin orangeblue {
  width: 5em;
  height: 1em;
  border-radius: 10px;
  border: 2px solid darkgray;
  border-style: outset;
  outline: none;
  box-shadow: 2px 2px;
}
@mixin upDown {
  height: 2em;
  width: 1.5em;
  background-color: $control-pad-color;
  margin: auto;
  border-style: solid;
  border-width: 0 3px 0 0;
  box-shadow: 1px 1px black;

}
@mixin leftRight {
  height: 1.5em;
  width: 2em;
  background-color: $control-pad-color;
  box-shadow: 1px 1px black;
}
@mixin lightblue-btn {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  border: 6px solid white;
  margin: 1em 2em;
  border-style: outset;
  box-shadow: 2px 4px darkgray;
  background: radial-gradient(circle at 20px 20px, white, blue);
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
/* ----MIXINS ----- */
* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  h1 {
    color: $primary-color;
    font-size: 55px;
  }
  .poke-input {
    margin-top: 2em;
    height: 30px;
    width: 16em;
    border-radius: 4px;
    outline: none;
  }
  .search-btn {
    margin-top: 1em;
    width: 7em;
    height: 2em;
    font-size: 17px;
    background-color: lightblue;
    border: 2px solid gray;
    border-radius: 10px;
    font-weight: bold;
    outline: none;
    box-shadow: 3px 4px gray;
  }
  .search-btn:active {
    transform: translateY(1.5px);
    box-shadow: 0px 0px gray;
  }
}
.pokemon-info-container {
  img {
    height: 200px;
    width: 200px;
  }
  p {
    font-size: 20px;
  }
}

.pokedex-container {
  background-color: red;
  height: 40em;
  width: 25em;
  margin: auto;
  margin-top: 2em;
  border: 6px solid gray;
  border-style: outset;
  border-radius: 20px;
  box-shadow: 10px 12px black;
  .top-buttons {
    height: 7em;
    width: 100%;
    display: flex;
    .lightup-blue {
      @include lightblue-btn
  }
    .blinking {
      @include lightblue-btn;
      animation: blink .8s ease-in-out infinite alternate;
    }
    @keyframes blink{
      to {
      background: radial-gradient(circle at 20px 20px, white, #65e1ed);
      box-shadow: 0px 0px 50px 2px #65e1ed;
  }
}

  }
}
.three-dots {
  margin-top: 1em;
  height: 2em;
  width: 25%;
  display: flex;
  justify-content: space-between;
  div:nth-child(1) {
    @include dots;
    background: radial-gradient(circle at 20px 20px, rgb(207, 60, 40), rgb(250, 69, 21));
  }
  div:nth-child(2) {
    @include dots;
      background: radial-gradient(circle at 20px 20px, rgb(185, 194, 25), rgb(223, 241, 110));
  }
  div:nth-child(3) {
    @include dots;
    background: radial-gradient(circle at 20px 20px, rgb(45, 210, 62), rgb(58, 140, 54));
  }
}
.image-container {
  height: 19em;
  .gray-container {
    background-color: lightgray;
    height: 100%;
    width: 80%;
    margin: auto;
    border: 4px solid gray;
    border-style: outset;
    border-radius: 10px 10px 10px 60px;
    box-shadow: 2px 2px;
    .two-dot-container {
      height: 1em;
      margin-bottom: 1em;
      display: flex;
      justify-content: center;
      div {
        height: 1em;
        width: 1em;
        background-color: red;
        border-radius: 50%;
        margin: .5em;
        border: 1px solid gray;
        box-shadow: 1px 1px;
      }
    }
    .poke-image {
      height: 70%;
      width: 80%;
      background-color: black;
      margin: auto;
      img {
        height: 100%;
        width: 100%;
        background-color: white;
        z-index: 2;
      }
    }
    .under-poke-image {
      height: 3em;
      width: 80%;
      margin: auto;
      @include flex-row;
      align-items: center;
      justify-content: space-between;
      .red-dot {
        height: 1.5em;
        width: 1.5em;
        border-radius: 50%;
        background-color: red;
        border: 2px solid gray;
        border-style: outset;
        box-shadow: 1.5px 1.5px;
      }
    }
  }
}
.lines-container {
  height:2em;
  width: 2.5em;
  @include flex-column;
  div {
    height: 15px;
    width: 100%;
    border-bottom: 2px solid gray;
  }
}
.controls-container {
  margin-top: 1.5em;
  height: 10em;
  @include flex-row;
  .enter-btn {
    width: 20%;
    @include flex-row;
    justify-content: center;
    align-items: center;
    div {
      height: 3em;
      width: 3em;
      background-color: $control-pad-color;
      border: 3px solid darkgray;
      border-style: outset;
      border-radius: 50%;
      box-shadow: 3px 6px $control-pad-color;
    }
    div:active {
      transform: translateY(1.5px);
      box-shadow: 1px 3px $control-pad-color;
    }
  }
}
.middle-btns {
  width: 50%;
  .orange-blue-btns {
    margin-top: .5em;
    @include flex-row;
    justify-content: space-around;
    button:first-child {
      @include orangeblue;
      background-color: orange;
    }
    button:nth-child(2) {
      @include orangeblue;
      background-color: blue;
    }
  }
  .orange-blue-btns button:active {
      transform: translateY(1.2px);
      box-shadow: 1px 2px $control-pad-color;
  }
}
.green-screen {
  width: 80%;
  margin: auto;
  margin-top: 2em;
  height: 7em;
  background-color: rgb(83, 154, 68);
  border: 5px solid darkgrey;
  border-style: inset;
}
.control-pad {
  justify-content: center;
  width: 30%;
  @include flex-column;
  .lbr {
    @include flex-row;
    justify-content: center;
  }
  .up {
    @include upDown;
    border-radius: 8px 8px 0 0;
  }
  .right {
    @include leftRight;
    border-radius: 0 8px 8px 0;
    border-width: 0 2px 0 0;
  }
  .down {
    @include upDown;
    border-radius: 0 0 8px 8px;
  }
  .left {
    @include leftRight;
    border-radius: 8px 0 0 8px;
  }
  .right:active {
    transform: translateY(.8px);
  }
  .left:active {
    transform: translate(.1px, .8px);
    box-shadow: 0 0;
  }
  .down:active {
    box-shadow: 0 .5px $control-pad-color;
    transform: translateY(-.5px);
  }
  .up:active {
    box-shadow: 0 .5px $control-pad-color;
    transform: translateY(-.5px);
  }
  .base {
    height: 1.5em;
    width: 2em;
    background-color: $control-pad-color;
    .base-circle {
      height: 1em;
      width: 1em;
      background-color: rgb(46, 48, 44);
      border: 2px solid gray;
      border-style: inset;
      border-radius: 50%;
      margin: auto;
      margin-top: .2em;
    }
  }
}
.footer {
  margin: 2em 0;
}
.logo {
  height: 80px;
}
